<div class="wrapper">
    <div class="body">
        <h1>REGISTRO</h1>
        <div class="form-group">
            <label for="name">NOMBRE</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="lastName">APELLIDO</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="telefono">TELÉFONO</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">CORREO ELECTRÓNICO</label>
            <input type="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">CONTRASEÑA</label>
            <input type="password" class="form-control">
        </div>
        <button class="continue-button">REGISTRARSE</button>
        <div class="register-group">
            <label>¿TIENES CUENTA?</label>
            <a href="/login" class="register-link">LOGIN</a>
        </div>
    </div>
</div>
