<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="logo">
            <img src="../../../assets/img/" alt="Logo no disponible">
        </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">NOSOTROS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CATALOGO</a>
          </li>
          <li class="nav-item">
            <a routerLink="/LOGIN" class="nav-item">LOGIN</a>
           
          </li>
        </ul>
        <div class="shopping-icon">
            <a href="#"><img src="../../../assets/img/shopping_icon.ico" alt="Logo no disponible"></a>
        </div>
      </div>
    </div>
  </nav>
