<div class="wrapper">
    <div class="body">
        <h1>LOGIN</h1>
        <div class="form-group">
            <label for="email">CORREO ELECTRONICO</label>
            <input type="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">CONTRASEÑA</label>
            <input type="password" class="form-control">
        </div>
        <button class="continue-button">CONTINUAR</button>
        <div class="register-group">
            <label>¿Todavia no eres miembro?</label>
            <a routerLink="/signIn" class="register-link">REGISTRARSE</a>
            
        </div>
    </div>
</div>
