.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.body {
    background-color: #000000;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
}

.body h1 {
    font-family: 'Inter', sans-serif;
    color: #a7a7a7;
    text-align: left;
    margin-bottom: 25px;
    margin-top: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Inter', sans-serif;
    color: #a7a7a7;
}

.form-group input {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    font-family: 'Inter', sans-serif;
    color: #a7a7a7;
    border: 1px solid #444;
    border-radius: 4px;
    box-sizing: border-box;
}

.continue-button {
    width: 100%;
    padding: 10px;
    background-color: #9F2828;
    font-family: 'Inter', sans-serif;
    color: #a7a7a7;
    font-weight: bold; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

.continue-button:hover {
    background-color: #555;
}

.register-group {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.register-group label {
    font-family: 'Inter', sans-serif;
    color: #a7a7a7;
    margin-right: 15px;
}

.register-link {
    font-family: 'Inter', sans-serif;
    color: #a7a7a7;
    font-weight: bold;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

/* Estilos responsivos */
@media (max-width: 600px) {
    .body {
        width: 100%;
        padding: 10px;
    }

    .form-group input {
        padding: 8px;
    }

    .continue-button {
        padding: 8px;
    }
}